<!DOCTYPE html>
<html lang="en">
<head>
  <title>IP Address Detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2 class="text-center pt-3 pb-5">IP Database</h2>

  <table class="table table-bordered table-dark" style="margin:auto; width: 80%">
    <thead>
      <tr>
        <th>IPv4</th>
        <th>ISP</th>
        <th>Proxy?</th>
        <th>Proxy Type</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{record.ip_address}}</td>
        <td>{{record.isp}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="container pt-5 text-center">
    <a class="btn btn-dark" href="{% url 'delete'%}" role="button">Delete Table</a>
    <a class="btn btn-dark" href="{% url 'index'%}" role="button">Home Page</a>
  </div>
</div>
</body>
</html>
