<!DOCTYPE html>
<html lang="en">
<head>
  <title>IP Address Detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
  #box {
  width: 75%;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  overflow-y: auto;
  height: 600px;
}
</style>
<body>
  <div class="container mt-3">
    <h3 class="text-center pt-3">IP Lookup and Detection Tool</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="container mt-5">
          <table class="table table-bordered table-dark" style="width: 100%">
            <tr>
                <th>IPv4</th>
                <td>{{ip}}</td>
            </tr>
            <tr>
                <th>ISP</th>
                <td>{{server}}</td>
            </tr>
            <tr>
                <th>Proxy?</th>
                <td>NA</td>
            </tr>
            <tr>
                <th>Proxy Type</th>
                <td>NA</td>
            </tr>
            <tr>
                <th>City</th>
                <td>NA</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>NA</td>
            </tr>
          </table>
          <a class="btn btn-dark" href="/database" role="button">Database</a>
        </div>
      </div>
      <div class="col-sm">
        <div id ="box" class="container mt-5" style="width: 100%;">
          <h3>Your IP Address Headers</h3>
          {% for key,value in ip_dict.items %}
          <b>{{key}}:</b> {{value}}<br>
          {% endfor %}  
        </div>
      </div>
    </div>
  </div>

</body>
</html>
